@tailwind utilities;

body, body [class^="dark:"] {
  @apply transition-colors duration-300;
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 4px;
    height: 0px;
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #41B883;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-button {
    background-color: transparent;
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

:root {
  font-weight: 300;
}

h1, h2 {
  font-family: "Noto Sans Thai", sans-serif;
}

.cover-image--primary-shadow {
  box-shadow: 0px 0px 12px 0px rgba(66, 184, 131, 0.8);
}